<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:insert="fragments/header::header"></header>


    <section th:each="route: ${allRoutes}" class="road">
        <img th:src="${route.getPictureUrl()}" alt="Title image">
        <div>
            <h2 th:text="${route.getName()}"></h2>
            <p th:text="${route.getDescription()}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias reiciendis deleniti possimus nemo
                non repellendus?
                Quae atque vero modi quidem! Autem cupiditate fugit doloribus ad amet, asperiores provident commodi.</p>
            <a href="/" class="btn">Learn More</a>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="/fragments/footer :: footer" class="footer bg-blur rounded"></footer>
</html>